---
layout: base
eleventyNavigation:
    key: Home
---
<div id="pb-container">
  <div id="pb-image-container">
    <img class="product-image" id="product-image__base"></div>
    <div id="pb-configs__container">
      {# <h1>Customize Your Wheelchair</h1> #}
      <div id="pb-configs__tabs-container"></div>
      <form id="pb-configs__form"></form>
      
      <div class="plusSlides-button-container">
        <button class="plusSlides-button" id="plusSlides-button-prev">&#10094; Previous</button>
        <button class="plusSlides-button" id="plusSlides-button-next">Next &#10095;</button>
      </div>
    </div>
  </div>
</div>