---
layout: base
eleventyNavigation:
    key: Home
---

<div id="map-container">
  <button id="map-recenter-button">
    <svg
      width="24px"
      height="24px"
      viewbox="0 0 24 24"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="iconmonstr-navigation-1" fill="#E22E26" fill-rule="nonzero">
          <polygon id="Path" points="0 9 24 0 15.014 24 12 12"></polygon>
        </g>
      </g>
    </svg>
  </button>
  <div
    id="map-overlay">
    <div
      class="slideshow-container">
      <div class="slideshow-slides-container"></div>
      <a class="plusSlides-button" id="plusSlides-button-prev">&#10094;</a>
      <a class="plusSlides-button" id="plusSlides-button-next">&#10095;</a>
    </div>

    <div id="map-content">
      <h2 id="map-content-name">Name</h2>
      <p>
        <span id="map-content-description"></span>
      </p>
      <button id="map-overlay-close-button">Close</button>
    </div>
  </div>
  <div id="map-darken-overlay"></div>
  <div id="map"></div>
</div>