* {
    font-family: Proxima Nova;
}

// copy over

#pb-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#pb-image-container {
    width: 50%;
    position: relative;
}

.product-image {
    width: 100%;
    object-fit: fill;
    position: absolute;
}

#product-image__base {
    z-index: 0;
}

.product-image__overlay {
    z-index: 10;
}

#pb-configs__container {
    width: 50%;
    padding: 0 30px;
}

.pb-configs__title {
    text-transform: uppercase;
}

.pb-configs__config-container {
    margin-bottom: 30px;
}